@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #1b7f47;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  @apply mx-auto w-[96%] md:max-w-[980px];
}
.mobile-menu.active .menu-toggle span{
  @apply block w-5 h-[2px] transition-all duration-300;

}
.mobile-menu.active .menu-toggle span:nth-child(1){
  @apply hidden;

}
.mobile-menu.active .menu-toggle span:nth-child(2){
  @apply  rotate-45 translate-y-[3px];

}
.mobile-menu.active .menu-toggle span:nth-child(3){
  @apply -rotate-45 -translate-y-[3px];

}